doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="../img/favicon-16-16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="../img/favicon-32-32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="../img/favicon-96-96.png" sizes="96x96")
    title Главная страница | prokiz.ru — Производство крепежных изделий из пластмасс
    meta(name="Keywords" content="дюбель, заглушки для труб, хомут, ПВХ, крепления сантехники, монтажные изделия")
    link(rel='stylesheet', href='../styles/style.css')
  body

    // header

    include ../blocks/block-header/header.pug        

    // / header

    // navigation

    include ../blocks/block-navigation/navigation.pug        

    // / navigation

    // main slider

    include ../blocks/block-main-slider/main-slider.pug        

    // / main slider

    .centered.width-1174
        .conteiner
            P
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt augue, vitae fermentum nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor sodales nisi et fermentum. Donec pharetra mattis dolor, eu dapibus magna. Praesent mollis ante at ex viverra, quis tempor magna lacinia. Sed imperdiet viverra purus, vel varius mauris faucibus ac. Vivamus aliquet, leo in faucibus interdum, felis purus ornare mi, ac vestibulum ipsum urna et enim. Ut porta mauris vel ligula imperdiet, at maximus ipsum consectetur. Etiam pulvinar tristique nibh, a pellentesque nunc auctor eget. Sed tristique metus sit amet dolor tempus scelerisque. Nullam efficitur finibus velit, rutrum pellentesque erat imperdiet ac. Donec rhoncus, purus nec ornare mattis, neque massa euismod diam, id vestibulum odio tortor feugiat arcu. Donec at odio vel nunc egestas elementum vitae at justo.

            P
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt augue, vitae fermentum nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor sodales nisi et fermentum. Donec pharetra mattis dolor, eu dapibus magna. Praesent mollis ante at ex viverra, quis tempor magna lacinia. Sed imperdiet viverra purus, vel varius mauris faucibus ac. Vivamus aliquet, leo in faucibus interdum, felis purus ornare mi, ac vestibulum ipsum urna et enim. Ut porta mauris vel ligula imperdiet, at maximus ipsum consectetur. Etiam pulvinar tristique nibh, a pellentesque nunc auctor eget. Sed tristique metus sit amet dolor tempus scelerisque. Nullam efficitur finibus velit, rutrum pellentesque erat imperdiet ac. Donec rhoncus, purus nec ornare mattis, neque massa euismod diam, id vestibulum odio tortor feugiat arcu. Donec at odio vel nunc egestas elementum vitae at justo.

            P
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt augue, vitae fermentum nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor sodales nisi et fermentum. Donec pharetra mattis dolor, eu dapibus magna. Praesent mollis ante at ex viverra, quis tempor magna lacinia. Sed imperdiet viverra purus, vel varius mauris faucibus ac. Vivamus aliquet, leo in faucibus interdum, felis purus ornare mi, ac vestibulum ipsum urna et enim. Ut porta mauris vel ligula imperdiet, at maximus ipsum consectetur. Etiam pulvinar tristique nibh, a pellentesque nunc auctor eget. Sed tristique metus sit amet dolor tempus scelerisque. Nullam efficitur finibus velit, rutrum pellentesque erat imperdiet ac. Donec rhoncus, purus nec ornare mattis, neque massa euismod diam, id vestibulum odio tortor feugiat arcu. Donec at odio vel nunc egestas elementum vitae at justo.

            P
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt augue, vitae fermentum nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor sodales nisi et fermentum. Donec pharetra mattis dolor, eu dapibus magna. Praesent mollis ante at ex viverra, quis tempor magna lacinia. Sed imperdiet viverra purus, vel varius mauris faucibus ac. Vivamus aliquet, leo in faucibus interdum, felis purus ornare mi, ac vestibulum ipsum urna et enim. Ut porta mauris vel ligula imperdiet, at maximus ipsum consectetur. Etiam pulvinar tristique nibh, a pellentesque nunc auctor eget. Sed tristique metus sit amet dolor tempus scelerisque. Nullam efficitur finibus velit, rutrum pellentesque erat imperdiet ac. Donec rhoncus, purus nec ornare mattis, neque massa euismod diam, id vestibulum odio tortor feugiat arcu. Donec at odio vel nunc egestas elementum vitae at justo.

            P
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt augue, vitae fermentum nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor sodales nisi et fermentum. Donec pharetra mattis dolor, eu dapibus magna. Praesent mollis ante at ex viverra, quis tempor magna lacinia. Sed imperdiet viverra purus, vel varius mauris faucibus ac. Vivamus aliquet, leo in faucibus interdum, felis purus ornare mi, ac vestibulum ipsum urna et enim. Ut porta mauris vel ligula imperdiet, at maximus ipsum consectetur. Etiam pulvinar tristique nibh, a pellentesque nunc auctor eget. Sed tristique metus sit amet dolor tempus scelerisque. Nullam efficitur finibus velit, rutrum pellentesque erat imperdiet ac. Donec rhoncus, purus nec ornare mattis, neque massa euismod diam, id vestibulum odio tortor feugiat arcu. Donec at odio vel nunc egestas elementum vitae at justo.

            P
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt augue, vitae fermentum nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor sodales nisi et fermentum. Donec pharetra mattis dolor, eu dapibus magna. Praesent mollis ante at ex viverra, quis tempor magna lacinia. Sed imperdiet viverra purus, vel varius mauris faucibus ac. Vivamus aliquet, leo in faucibus interdum, felis purus ornare mi, ac vestibulum ipsum urna et enim. Ut porta mauris vel ligula imperdiet, at maximus ipsum consectetur. Etiam pulvinar tristique nibh, a pellentesque nunc auctor eget. Sed tristique metus sit amet dolor tempus scelerisque. Nullam efficitur finibus velit, rutrum pellentesque erat imperdiet ac. Donec rhoncus, purus nec ornare mattis, neque massa euismod diam, id vestibulum odio tortor feugiat arcu. Donec at odio vel nunc egestas elementum vitae at justo.


    // subscribe

    include ../blocks/block-subscribe/subscribe.pug

    // / subscribe

    // footer navigation

    include ../blocks/block-navigation/navigation-footer.pug        

    // / footer navigation

    // footer

    include ../blocks/block-footer/footer.pug

    // / footer

    // scripts

    script(src='../js/jquery-3.2.1.min.js')
    script(src='../js/jquery.bpopup.min.js')
    script(src='../js/smooth-scroll.js')
    script(src='../js/responsiveslides.min.js')
    script(src='../js/scripts.js')

    // / scripts