.pay-delivery

	// centered

	.centered.width-1174

		h3.title-block
			| Оплата

		.pay-info

			// column

			.pay-info__column

				h4
					| Для физ. лиц

				ul

					// item

					li
						span
							| 1
						p
							| Оставляете заявку
					// item

					li
						span
							| 2
						p
							| С вами связывается менеджер
					// item

					li
						span
							| 3
						p
							| Выставляем счёт на e-mail
					// item

					li
						span
							| 4
						p
							| Оплачиваете удобным для вас способом
					// item

					li
						span
							| 5
						p
							| Отправляем товар, ждете доставку																				

				img.pay-info__column__pay-partners(src="../img/pay-partners.png" alt="@@")

				.block-yellow.pay-info__column__info
					p
						| Все счета на оплату приходят только с официального e-mail'a <span>login@domain.ru</span>

				p.pay-info__column__ps
					| Цены приведены с учетом НДС 18%. <br/> Минимальная сумма общего заказа 3.000 рублей <br/> Стоимость доставки по тарифам ТК

				img(src="../img/yandex.png" alt="@@")

			// column

			.pay-info__column

				h4
					| Для юр. лиц

				ul

					// item

					li
						span
							| 1
						p
							| Оставляете заявку с реквизитами
					// item

					li
						span
							| 2
						p
							| Выставляете счет
					// item

					li
						span
							| 3
						p
							| Оплата по безналичному расчету
					// item

					li
						span
							| 4
						p
							| Отправляем товар, ждете доставку
																		

				img.pay-info__column__bank(src="../img/bank.png" alt="@@")

				p.pay-info__column__ps
					| Цены приведены с учетом НДС 18%. <br/> Минимальная сумма общего заказа 3.000 рублей <br/> Стоимость доставки по тарифам ТК <br/><br/> Возможно выставление счета с реквизитами контрагентов



		h3.title-block
			| Доставка

		.delivery-info

			ul
				li: img(src="../img/partners/partner-1.png" alt="@@")
				li: img(src="../img/partners/partner-2.png" alt="@@")
				li: img(src="../img/partners/partner-3.png" alt="@@")

		.delivery-info__other

			h5
				| Доставка производистся в течение 3-10 дней. <br/> Стоимость доставки по тарифам транспортной компании

			hr

			p
				| 1. При получение товара обязательно наличие оригинала доверенности и паспорта лица, указанного в доверенности; <br/> 2. В случае заказа товара с индивидуально  заданными характеристиками (например, колеровка краски, нарезка линолеума и др.) требуется его предварительная оплата; <br/> 3. К оплата принимаются карта платежных систем VISA International и MasterCard World Wide; <br/> 4. Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО "Сербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединениие с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароль. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту. Настоящий сайт поддерживает 128-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей пр банковским картам оссуществляется в сторогом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Spil.