.dealer

	h3.title-block
		| Стать дилером

	h4
		| Наши преимущества

	ul
		li
			| <span>*</span> Качественные материалы, имеющие хороший сбыт
		li
			| <span>*</span> Низкие цены на продукцию
		li
			| <span>*</span> Гибкие цены и условия сотрудничества
		li
			| <span>*</span> Предоставляем возможность устанавливать розничные цены
		li
			| <span>*</span> Отсутствие обязательных ежемесячных платежей
		li
			| <span>*</span> Торговля по схеме дропшиппинг
		li
			| <span>*</span> Бесплатная доставка до терминалов ТК
		li
			| <span>*</span> Техническая поддержка партнеров
		li
			| <span>*</span> Размещение контактных данных региональных представителей на сайте компании ПКИ
		li
			| <span>*</span> Помощь в организации сбыта

.options-for-cooperation

	h3.title-block
		| Варианты сотрудничества

	// body

	.options-for-cooperation__body

		// column

		.options-for-cooperation__body__column

			h5
				| Дилер

			p
				| (Доходность до 20 000 руб. в месяц)

			p
				| <span>Дилер</span> - это физлицо, торгующее товарами с сайта компании ПКИ или приобретает товары для самостоятельной реализации продукции. Для того, чтобы стать дилером не нужен первоначальный капитал. <br/><br/> <span>Схема работы агента:</span> <br/><br/> - Дилер занимается поиском клиентов <br/> - Продает товара с сайта prokiz.ru и получает каль <br/> - Самостоятельно размещает рекламу на досках объявлений (Авито, ИРР, Близко итп), в соцсетях (вконтакте, ОК, ютуб, Инстаграмм итп) <br/> - Дилер устанавливает розничные цены на реализуемую продукцию <br/> - Дилер производит прием/передачу товара (рекомендуемая наценка: 300% для регионов, МСК и Спб 40)% - 600%) <br/> - Возможность оставить заявку с отгрузкой со склада компании ПКИ и получить разницу в ценах <br/> * В случае отсутствия товара нужного наименования если дилер не может осуществить поставку товара - пересылает заявку с указанными наименованиеям, количеством, адресои доставки и получает вознаграждение в виде комиссии за сделку. <br/><br/><br/><br/><br/>



			// form send

			form.default-send-form(action="/" method="post")

				h5
					| Подать заявку

				// field

				.default-send-form__field
					p
						| Имя*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Фамилия*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Регион*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Город*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Электронная почта*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Телефон*
					input(type="text" name="" required)

				p
					| Цены указаны с учетом НДС 18% <br/> Минимальная сумма оббщего заказа 3.000 рублей

				.default-send-form__field
					input.btn.btn-yellow(type="submit" value="Стать дилером" required)

					label
						input(type="checkbox" name="")
						p
							| Нажимая на кнопку "Стать дилером", я даю согласие <br/> на обработка персональных данных и соглашаюсь с политикой конфиденциальности

		// column

		.options-for-cooperation__body__column

			h5
				| Региональный представитель

			p
				| (Доходность до 100 000 руб. в месяц)

			p
				| <span>Региональный представитель</span> - Это ИП, юрлицо, веб-мастер или физлицо. <br/> Региональьный представитель или торговый представитель - дилер, осуществляющий продажу товаров в масштабе города или региона <br/><br/> При сотрудничестве с компанией ПКИ получает низкие цены и гибкие условия сотрудничества. <br/><br/> Наши товары востребованы в категориях "Ремонт и строительство", "Мебельная фурнитура", "Заборы", столбы, металлоконструкции", "Отделочный работы", "Электромонтажные работы" <br/><br/> <span>Схема работы торогового представителя:</span> <br/><br/> - Закупка продукции компании ПКИ со скидкой 15% <br/> - Прием, хранение, транспортировка товаров <br/> - Региональная наценка 100-500% <br/> Оплата по б/н расчету <br/> - Продажа товаров через собственный сайт или магазин <br/> - Цены устанавливает региональный представитель <br/> Торговля оптом по демпинговым ценам <br/><br/> <span>Дропшиппинг (торговля без скалада):</span> <br/><br/> - Региональный представитель принимает платежи, компания ПКИ выступает контрагентом. <br/> Р/п проводит платежи контрагенту, контрагент производит доставку товара заказчику через ТК



			// form send

			form.default-send-form(action="/" method="post")

				h5
					| Подать заявку

				// field

				.default-send-form__field
					p
						| Имя*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Фамилия*
					input(type="text" name="" required)


				// field

				.default-send-form__field
					p
						| ИП или ООО
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Электронная почта*
					input(type="text" name="" required)

				// field

				.default-send-form__field
					p
						| Телефон*
					input(type="text" name="" required)

				p
					| Скидка от 2% до 10% на все товары. <br/> Цены указаны с учетом НДС 18% <br/> Минимальная сумма общего заказа 15.000 рублей

				.default-send-form__field
					input.btn.btn-yellow(type="submit" value="Стать региональным представителем")

					label
						input(type="checkbox" name="" required)
						p
							| Нажимая на кнопку "Стать региональным представителем", я даю согласие <br/> на обработка персональных данных и соглашаюсь с политикой конфиденциальности