nav.navigation

	// centered

	.centered.width-1174

		ul

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Главная

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Новости

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Оплата и доставка

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Стать дилером

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Пункты выдачи заказов

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Статьи