.tablet-menu-body

	// centered

	.centered.width-1174

		.tablet-menu-icon
			| Меню

nav.navigation

	// centered

	.centered.width-1174

		ul

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Главная

				// dropdown one level

				ul.navigation__link-main__one-level.navigation__link-main-main__one-level

					// item

					li
						a(href="#" title="")
							| Дюбельная техника

						ul
							li
								a(href="#" title="")
									| Дюбель рамный
							li
								a(href="#" title="")
									| Дюбель рамный

					// item

					li
						a(href="#" title="")
							| Заглушки для труб

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Фиксаторы для арматуры

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Электроустановочный крепеж

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Гибкие связи

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Крепёж для теплоизоляции

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Заглушки для труб

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Аксессуары для электромонтажных пластиковых труб

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Клеммные соединители для одножильного провода

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Коробки монтажные распределительные

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Трубы гофрированные ПВХ

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Крепёж для сантехники

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Монтажные изделия

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

					// item

					li
						a(href="#" title="")
							| Декоративные изделия

						ul
							li
								a(href="#" title="")
									| 1
							li
								a(href="#" title="")
									| 2

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Новости

				// dropdown one level

				ul.navigation__link-main__one-level

					// item

					li
						a(href="#" title="")
							| 25.06.15  В связи с увеличением расхода електропласт...

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Все наши изделия производятся на оборудовании ведущих европейских компаний из высококачественного отечественного и импортного сырья. Соответствующие сертификаты, подтверждающие сферы применения и качество продукции, вы можете найти на нашем сайте.

					// item

					li
						a(href="#" title="")
							| 25.06.15  В связи с увеличением расхода електропласт...

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Все наши изделия производятся на оборудовании ведущих европейских компаний из высококачественного отечественного и импортного сырья. Соответствующие сертификаты, подтверждающие сферы применения и качество продукции, вы можете найти на нашем сайте.

					// item

					li
						a(href="#" title="")
							| 25.06.15  В связи с увеличением расхода електропласт...

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| 1

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Оплата и доставка

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Стать дилером

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Пункты выдачи заказов

				// dropdown one level

				ul.navigation__link-main__one-level.navigation__places

					// item

					li
						a(href="#" title="")
							| Москва

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Санкт-Петербург

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Новосибирск

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Екатеринбург

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Нижний Новгород

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Казань

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20							

					// item

					li
						a(href="#" title="")
							| Челябинск

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Омск

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Самара

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Ростов-на-Дону

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Уфа

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20							

					// item

					li
						a(href="#" title="")
							| Красноярск
						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Пермь

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Воронеж

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Волгоград

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20

					// item

					li
						a(href="#" title="")
							| Другие города

						ul
							li.navigation__link-main__three-level-news
								a(href="#" title="")
									| Адрес: ул. Автостроителей, корп.6 <br/> Телефон: 8 800 2000 600 <br/> Часы работы: ежедневно с 8 до 20																

			// item

			li.navigation__link-main
				a(href="#" title="")
					| Статьи