nav.navigation

	// centered

	.centered.width-1174

		ul
			li.navigation__link-main.navigation__home
				a(href="#" title="")
					| Главная

					// dropdown one level

				ul.navigation__link-main__one-level
					li
						a(href="#" title="")
							| Дюбельная техника