@media only screen and (min-width : 1024px) {

	// centered big

	.centered {
		position: relative;
		margin: 0 auto;
		height: auto;
	}

	.full-width {
		width: 100%;
	}

	.width-1174 {
		width: 1174px;
	}

	// positions
	
	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.center {
		margin: 0 auto;
	}


	.no-border {
		border: 0 !important;
	}

	// buttons

	.btn {
		display: block;
		color: @black;
		text-decoration: none;
		text-align: center;
		border-radius: 4px;
	}

	.btn-green {
		background: @green;

		&:hover {
			background: @green-light;
		}

	}

	.btn-yellow {
		background: @yellow;
		border: 3px solid @yellow;

		&:hover {
			background: @white;
			border-color: @yellow;
		}
	}

	p {
		font: 14px @roboto-regular;
		color: @black;
		line-height: 22px;
	}

	.conteiner {
		margin: 40px 15px;

		p {
			margin-bottom: 10px;
		}

	}

	h3 {
		font: 24px @roboto-black;
		text-transform: uppercase;
		text-align: center;
		color: @black;
	}

	p {
		font: 14px @roboto-regular;
		color: @black;
		line-height: 20px;
	}

}