// fonts & variables

@import '../styles/variables.less';
@import '../styles/fonts.css';

// mobile view




// desktop view

@import '../blocks/block-header/header.less';
@import '../blocks/subblock-manufacturers/manufacturers.less';
@import '../blocks/subblock-main-services/main-services.less';
@import '../blocks/subblock-popular-goods/popular-goods.less';
@import '../blocks/subblock-about/about.less';
@import '../blocks/subblock-services/services.less';
@import '../blocks/block-footer/footer.less';

@import '../styles/default.less';

// normalize

@import '../styles/reset.css';

// SETTINGS //

// animation

a, a:hover, li, img, input, textarea, .goods__send-inquiry {
	transition: all 0.2s ease-in-out;
}

// body

body {
	cursor: default;
}

a {
  cursor: pointer;
}