// variables

// fonts

@roboto-light: 'robotolight';
@roboto-regular: 'robotoregular';
@roboto-ligh: 'robotolight';
@roboto-bold: 'robotobold';
@roboto-black: 'robotoblack';

// colors

@white: #fefefe;
@black: #000;


// green

@green-light: #6eb91c;
@green: #00ac60;

// yellow

@yellow: #f8f400;
@yellow-dark: #f9ea00;

@grey: #4f6673;

@blue-light: #d6effb;
@blue-dark: #32414a;

// other variables