// variables

// fonts

@roboto-light: 'robotolight';
@roboto-regular: 'robotoregular';
@roboto-ligh: 'robotolight';
@roboto-bold: 'robotobold';

// colors

@black-light: #2c2c2c;
@black-grey: #181818;

@blue: #0669b2;
@blue-light: #087ace;

@red: #bf3737;
@red-light: #db3f3f;

@white: #fefefe;
@black: #000;
@green: #11a8ab;
@grey: #f8f8f8;
@grey-light: #959595;
@grey-dark: #131e22;

// other variables