footer

	// centered

	.centered.width-1174

		// navigation column

		nav.footer__navigation

			h4
				| О нас

			ul
				li: a(href="#" title="")
					| Контакты
				li: a(href="#" title="")
					| Договор
				li: a(href="#" title="")
					| Оплата
				li: a(href="#" title="")
					| Доставка
				li: a(href="#" title="")
					| Покупателям
				li: a(href="#" title="")
					| Пункты выдачи заказов

		// navigation column

		nav.footer__navigation

			h4
				| Категории товаров

			ul.footer__navigation__big-column
				li: a(href="#" title="")
					| Дюбельная техника
				li: a(href="#" title="")
					| Монтажные изделия
				li: a(href="#" title="")
					| Крепеж для изоляции
				li: a(href="#" title="")
					| Клеммные соединители
				li: a(href="#" title="")
					| Заглушки для труб
				li: a(href="#" title="")
					| Коробки монтажные
				li: a(href="#" title="")
					| Гибкие связи
				li: a(href="#" title="")
					| Трубы гофрированные ПВХ
				li: a(href="#" title="")
					| Электроустановочный крепеж
				li: a(href="#" title="")
					| Крепеж для сантехники
				li: a(href="#" title="")
					| Аксессуары для электро-монтажных пластиковых труб
				li: a(href="#" title="")
					| Декоративные

		// other info

		.footer__other-info

			p
				| © 1997—2017. Все права защищены.

			a.pr-tovar(href="#" title="")
				| Сайт создан — &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				img(src="../img/pr-tovar.png" alt="@@")
				| &nbsp;&nbsp;&nbsp; tovar

			a.link-polytic(href="#" title="")
				| Политика конфиденциальности