footer

  // centered big
  .centered__very-big

    // logo & copyright
    .footer__logo-copyright

      // footer logo
      a.footer__logo(href="#" title="")
        img(src="../img/footer-logo.png" alt="@@")

      // description
      p
        | Замена и ремонт замков дверей
      p
        | Выезд по Москве и МО

      // copyright
      .footer__copyright
        p
          | © БарсИкс 2017. Все права защищены.

    // navigation
    nav.footer__navigation
      ul
        li: a(href="#" title="")
          | Каталог
        li: a(href="#" title="")
          | Услуги
        li: a(href="#" title="")
          | Новости
        li: a(href="#" title="")
          | Портфолио
        li: a(href="#" title="")
          | Контакты
        li: a(href="#" title="")
          | О компании

    // contacts
    .footer__contacts
      a.footer__contacts__phone(href="tel:+74955655656" title="")
        | +7 (495) <span>565 56 56</span>
      p
        img(src="../img/icons/icon-1.png" alt="")
        | Круглосуточно
      a.footer__contacts__mailto(href="mailto:info@bars-x.ru" title="")
        img(src="../img/icons/icon-2.png" alt="@@")
        | info@bars-x.ru

    // up page
    a.up-page(href="#" title="")