.treaty

	// centered

	.centered.width-1174

		h3.title-block
			| Договор

		ul

			li
				a(href="#" title="")
					img(src="../img/icons/icon-11.png" alt="@@")
					p
						| Название документа

			li
				a(href="#" title="")
					img(src="../img/icons/icon-12.png" alt="@@")
					p
						| Название документа

			li
				a(href="#" title="")
					img(src="../img/icons/icon-13.png" alt="@@")
					p
						| Название документа