@import '../styles/fonts.css';
@import '../styles/reset.css';
@media only screen and (min-width: 1024px) {
  .centered {
    position: relative;
    margin: 0 auto;
  }
  .full-width {
    width: 100%;
  }
  .width-1174 {
    width: 1174px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .center {
    margin: 0 auto;
  }
  .no-border {
    border: 0 !important;
  }
  .btn {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
  }
  .btn-green {
    background: #00ac60;
  }
  .btn-green:hover {
    background: #6eb91c;
  }
  .btn-yellow {
    background: #f8f400;
    border: 3px solid #f8f400;
  }
  .btn-yellow:hover {
    background: #fefefe;
    border-color: #f8f400;
  }
}
a,
a:hover,
li,
img,
input,
textarea,
.goods__send-inquiry {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
}
a {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  footer {
    padding: 68px 0 88px 0;
    position: relative;
    background: #d6effb;
    height: auto;
    overflow: hidden;
  }
  .footer__navigation {
    float: left;
    margin-right: 0px;
  }
  .footer__navigation h4 {
    font: 20px 'robotoblack';
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .footer__navigation ul {
    width: auto;
  }
  .footer__navigation ul li a,
  .footer__navigation ul li a:hover {
    float: left;
    width: 274px;
    height: auto;
    margin: 0;
    display: block;
    font: 14px 'robotolight';
    line-height: 20px;
    color: #6c8195;
  }
  .footer__navigation__big-column {
    width: 580px !important;
  }
  .footer__other-info {
    margin-top: 44px;
    float: right;
    width: 272px;
    text-align: left;
  }
  .footer__other-info p {
    font: 14px 'robotoregular';
    color: #000;
  }
  .pr-tovar {
    margin-top: 12px;
    display: block;
    height: 39px;
    position: relative;
    font: 14px 'robotoregular';
    line-height: 43px;
    color: #007fb2;
  }
  .pr-tovar img {
    position: absolute;
    width: 39px;
    height: 39px;
    margin: 0 0 0 -30px;
  }
  .link-polytic {
    margin-top: 16px;
    display: block;
    font: 14px 'robotoregular';
    color: #667a89;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    margin-top: 18px;
    margin-bottom: 23px;
    height: 54px;
    overflow: hidden;
  }
  .header__logo {
    margin-top: 1px;
    margin-right: 18px;
    float: left;
    display: block;
    width: 225px;
    height: 54px;
  }
  .header__site-description {
    margin-top: 10px;
    margin-right: 12px;
    float: left;
    width: 230px;
    font: 14px 'robotoregular';
    line-height: 18px;
    color: #000;
  }
  .header__other-info {
    margin-top: 10px;
    margin-right: 15px;
    float: left;
    width: 180px;
    font: 14px 'robotoregular';
    line-height: 18px;
    color: #000;
  }
  .header__btn-price {
    margin-right: 18px;
    margin-top: 5px;
    float: left;
    width: 142px;
    height: 45px;
    overflow: hidden;
  }
  .header__btn-price img {
    margin: 8px 10px 0 8px;
    width: 29px;
    height: 28px;
    display: block;
    float: left;
  }
  .header__btn-price p {
    margin-top: 6px;
    padding-left: 20px;
    float: left;
    width: 64px;
    border-left: 1px solid #6eb91c;
    height: 34px;
    font: 12px 'robotolight';
    color: #fefefe;
    text-align: left;
    line-height: 16px;
  }
  .header__btn-small-basket {
    margin-top: 5px;
    float: left;
    width: 136px;
    height: 39px;
    overflow: hidden;
  }
  .header__btn-small-basket img {
    margin: 10px 10px 0 8px;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
  }
  .header__btn-small-basket p {
    margin-top: 3px;
    padding-left: 20px;
    float: left;
    width: 64px;
    border-left: 1px solid #f9ea00;
    height: 34px;
    font: 12px 'robotobold';
    color: #000;
    text-align: left;
    line-height: 34px;
  }
  .header__contacts {
    margin-top: 2px;
    float: right;
    width: 150px;
  }
  .header__contacts p {
    font: 14px 'robotobold';
    color: #000;
    line-height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .navigation {
    height: 60px;
    background: #000;
  }
  .navigation__link-main {
    margin-right: 1px;
    position: relative;
    float: left;
    height: 60px;
    background: #000;
  }
  .navigation__link-main:hover {
    background: #f8f400;
  }
  .navigation__link-main:last-child {
    margin-right: 0;
  }
  .navigation__link-main:nth-child(1) a {
    padding: 0 55px 0 34px;
  }
  .navigation__link-main:last-child:before {
    background: 0 !important;
  }
  .navigation__link-main:before {
    top: 24px;
    right: -1px;
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background: #626262;
    content: "";
  }
  .navigation__link-main > a {
    padding: 0 53.7px;
    display: block;
    height: 60px;
    font: 14px 'robotoregular';
    color: #f8f400;
    text-decoration: none;
    line-height: 60px;
  }
  .navigation__link-main:hover > a {
    color: #000;
  }
  .navigation__link-main > ul.navigation__link-main__one-level {
    display: none;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 793px;
    height: auto;
    background: #fefefe;
    z-index: 10;
    border: 5px solid #f8f400;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level > li {
    padding: 0 22px;
    width: 352px;
    height: 36px;
    background: #32414a url('../img/icons/icon-4.png') no-repeat 368px 16px;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level > li:nth-child(1) {
    background: #32414a url('../img/icons/icon-4.png') no-repeat 368px 22px;
    padding-top: 7px;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level > li:last-child {
    padding-bottom: 7px;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level > li > a {
    padding: 1px 12px;
    height: 36px;
    display: block;
    font: 12px 'robotoregular';
    line-height: 36px;
    color: #fefefe;
    text-decoration: none;
    border-bottom: 1px solid #4f6673 !important;
    position: relative;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level > li > a:hover {
    position: absolute;
    width: 386px;
    padding-left: 24px !important;
    left: 10px;
    background: #d6effb url('../img/icons/icon-3.png') no-repeat 356px 14px;
    color: #32414a;
  }
  .navigation__link-main:hover > ul.navigation__link-main__one-level > li:last-child > a {
    border-bottom: 0 !important;
  }
  ul.navigation__link-main__one-level > li > ul {
    display: none;
  }
  ul.navigation__link-main__one-level > li:hover > ul {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 396px;
    width: 397px;
    height: 100%;
    background: #fefefe;
    z-index: 10;
  }
  ul.navigation__link-main__one-level > li:hover > ul > li {
    padding: 0 27px;
    background: #d6effb;
    height: 36px;
  }
  ul.navigation__link-main__one-level > li:hover > ul > li > a {
    display: block;
    height: 36px;
    font: 12px 'robotoregular';
    color: #32414a;
    line-height: 36px;
    text-decoration: none;
    border-top: 1px solid #a1bccb;
  }
  ul.navigation__link-main__one-level > li:hover a {
    position: absolute;
    width: 386px;
    padding-left: 24px !important;
    left: -12px;
    background: #d6effb url('../img/icons/icon-3.png') no-repeat 356px 14px;
    color: #32414a !important;
  }
  ul.navigation__link-main__one-level li ul li a {
    left: 0px !important;
    padding-left: 0 !important;
    position: relative !important;
    width: 322px !important;
    text-indent: -22px;
    background: #d6effb !important;
  }
  ul.navigation__link-main-main__one-level li ul li a {
    left: 0px !important;
    padding-left: 0 !important;
    position: relative !important;
    width: 260px !important;
    text-indent: -22px;
    background: #d6effb !important;
  }
  ul.navigation__link-main__one-level > li:hover > ul > li:nth-child(1) a {
    border-top: 0;
  }
  ul.navigation__link-main__one-level > li:hover > ul > li:nth-child(1) {
    padding-top: 7px;
  }
  ul.navigation__link-main__one-level > li:hover > ul > li:last-child {
    padding-bottom: 7px;
  }
  ul.navigation__link-main__one-level li > a {
    transition: none !important;
  }
  .navigation__link-main__three-level-news {
    height: auto !important;
    padding: 0.8% 0 !important;
  }
  .navigation__link-main__three-level-news a {
    line-height: 16px !important;
    padding: 10px 0 !important;
    text-indent: 0 !important;
    height: 100% !important;
  }
  ul.navigation__places {
    left: -380px !important;
  }
  ul.navigation__places li.navigation__link-main__three-level-news {
    padding: 0 26px !important;
    padding-top: 6px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .subscribe {
    padding: 36px 0 20px 0;
    height: auto;
    overflow: hidden;
    background: #32414a;
    color: #fefefe;
  }
  .subscribe__title-block {
    margin-right: 20px;
    float: left;
    padding-left: 58px;
    width: 244px;
    background: url('../img/icons/icon-5.png') no-repeat 0 1px;
  }
  .subscribe__title-block h4 {
    margin: -2px 0 8px 0;
    font: 16px 'robotoregular';
    color: #f8f400;
  }
  .subscribe__title-block p {
    font: 14px 'robotolight';
    color: #fefefe;
  }
  .subscribe__form-send {
    float: left;
    width: 680px;
  }
  .subscribe__form-send input[type="text"] {
    padding: 0 22px;
    width: 286px;
    height: 42px;
    border: 1px solid #6c8a9b;
    font: 14px 'robotolight';
    color: #32414a;
  }
  .subscribe__form-send input[type="submit"] {
    width: 100%;
    height: 44px;
    cursor: pointer;
    font: 14px 'robotoregular';
    color: #000;
    text-align: left;
    text-indent: 124px;
  }
  .subscribe__form-send input[type="checkbox"] {
    margin-top: 2px;
    margin-right: 10px;
    float: left;
    width: 14px;
    height: 14px;
    border: 1px solid #d6effb;
  }
  .subscribe__form-send label a,
  .subscribe__form-send label a:hover {
    display: block;
    float: left;
    font: 14px 'robotolight';
    color: #6c8195;
  }
  .subscribe__form-send__field {
    position: relative;
    margin-right: 7px;
    float: left;
    width: 332px;
    height: 46px;
    margin-bottom: 18px;
  }
  .subscribe__form-send__field__icon-done {
    margin: 4px 0 0 0;
    position: absolute;
    width: 39px;
    height: 35px;
    border-right: 1px solid #dacf21;
    background: url('../img/icons/icon-6.png') no-repeat 12px 12px;
  }
  .subscribe__small-basket {
    margin-top: 0;
    float: right !important;
  }
}
