@import '../styles/fonts.css';
@import '../styles/reset.css';
@media only screen and (min-width: 1024px) {
  .centered__big {
    position: relative;
    margin: 0 auto;
    width: 1080px;
  }
  .centered__small {
    position: relative;
    margin: 0 auto;
    width: 932px;
  }
  .centered__very-big {
    position: relative;
    margin: 0 auto;
    width: 1160px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .center {
    margin: 0 auto;
  }
  .no-border {
    border: 0 !important;
  }
  .btn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  .title-block {
    margin-bottom: 54px;
    font: 36px 'robotobold';
    color: #000;
    text-align: center;
  }
}
a,
a:hover,
li,
img,
input,
textarea,
.goods__send-inquiry {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
}
a {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  footer {
    position: relative;
    padding-top: 38px;
    height: 266px;
    background: #131e22;
  }
  .footer__logo-copyright {
    float: left;
    width: 388px;
    height: auto;
    overflow: hidden;
  }
  .footer__logo-copyright p {
    margin-top: 10px;
    font: 16px 'robotolight';
    color: #fefefe;
  }
  .footer__logo {
    margin-bottom: 20px;
    display: block;
    width: 243px;
    height: 60px;
  }
  .footer__logo img {
    display: block;
    width: 243px;
    height: 60px;
  }
  .footer__copyright p {
    margin-top: 30px;
    font: 16px 'robotolight';
    color: #959595;
  }
  .footer__navigation {
    margin-top: 10px;
    float: left;
    width: 146px;
    margin-right: 145px;
  }
  .footer__navigation ul li a,
  .footer__navigation ul li a:hover {
    display: block;
    font: 16px 'robotolight';
    text-transform: uppercase;
    line-height: 30px;
    color: #fefefe;
    text-decoration: none;
  }
  .footer__navigation ul li a:hover,
  .footer__navigation ul li a:hover:hover {
    text-decoration: underline;
  }
  .footer__contacts {
    margin-top: 10px;
    float: left;
    width: 194px;
  }
  .footer__contacts p {
    margin: 8px 0 18px 0;
    display: block;
    font: 16px 'robotolight';
    color: #fefefe;
    height: 20px;
  }
  .footer__contacts p img {
    margin-right: 8px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
  }
  .footer__contacts__phone {
    display: block;
    font: 20px 'robotolight';
    color: #fefefe;
    text-decoration: none;
  }
  .footer__contacts__phone span {
    font-family: 'robotobold';
  }
  .footer__contacts__mailto {
    display: block;
    font: 16px 'robotolight';
    line-height: 21px;
    color: #fefefe;
    text-decoration: none;
  }
  .footer__contacts__mailto img {
    margin-right: 8px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
  }
  .footer__contacts__mailto span {
    font-family: 'robotobold';
  }
  .footer__contacts__mailto:hover {
    text-decoration: underline;
  }
  .up-page {
    margin-top: 14px;
    margin-right: 66px;
    float: right;
    display: block;
    width: 64px;
    height: 64px;
    background: #bf3737 url('../img/icons/icon-3.png') no-repeat 19px 19px;
    border-radius: 50%;
    cursor: pointer;
  }
  .up-page:hover {
    background: #db3f3f url('../img/icons/icon-3.png') no-repeat 19px 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__about {
    padding: 52px 0;
    height: auto;
    overflow: hidden;
    background: url('../img/about-bg.png');
  }
  .subblock__about__sertificates {
    margin-left: 38px;
    float: left;
    width: 510px;
  }
  .subblock__about__sertificates ul {
    height: auto;
  }
  .subblock__about__sertificates ul li {
    margin-right: 76px;
    float: left;
    width: 215px;
  }
  .subblock__about__sertificates ul li:last-child {
    margin-right: 0;
  }
  .subblock__about__sertificates ul li img {
    margin-bottom: 34px;
    display: block;
    width: 215px;
    height: 308px;
  }
  .subblock__about__sertificates ul li p {
    font: 16px 'robotobold';
    text-align: center;
    color: #131e22;
  }
  .subblock__about__content {
    float: right;
    width: 532px;
  }
  .subblock__about__content h4 {
    font: 26px 'robotobold';
    color: #000;
    margin-bottom: 10px;
  }
  .subblock__about__content p {
    font: 16px 'robotolight';
    line-height: 28px;
    color: #000;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__main-services {
    padding: 56px 0 20px 0;
    height: auto;
    overflow: hidden;
    background: url('../img/services-main-bg.png') no-repeat center;
    background-size: cover;
  }
  .subblock__main-services h2 {
    color: #fefefe;
  }
  .subblock__main-services .goods ul li p,
  .subblock__main-services .goods ul li a {
    color: #fefefe !important;
  }
  .subblock__main-services .goods ul li a,
  .subblock__main-services .goods ul li a:hover {
    font-family: 'robotobold';
  }
  .subblock__main-services .goods li {
    height: 484px;
  }
  .subblock__main-services__circle {
    margin: 0 auto;
    margin-bottom: 56px;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    border: 6px solid #fefefe;
  }
  .subblock__main-services__circle img {
    margin: 47px 0 0 62px;
    width: 74px;
    height: 102px;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__manufactures {
    padding: 62px 0 0 0;
    height: auto;
    overflow: hidden;
  }
  .subblock__manufactures ul {
    margin-top: 70px;
    height: auto;
  }
  .subblock__manufactures ul li {
    margin-right: 60px;
    margin-bottom: 80px;
    float: left;
    width: 224px;
    height: 92px;
  }
  .subblock__manufactures ul li:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__popular-goods {
    padding: 90px 0 40px 0;
    height: auto;
    overflow: hidden;
    background: #fff;
  }
  .goods ul li {
    margin-bottom: 50px;
    margin-right: 97px;
    position: relative;
    float: left;
    width: 292px;
    height: 560px;
    text-align: center;
    overflow: hidden;
  }
  .goods ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  .goods ul li img {
    margin-bottom: 30px;
    display: block;
  }
  .goods ul li p {
    margin-bottom: 4px;
    font: 16px 'robotolight';
    color: #131e22;
  }
  .goods ul li p span {
    padding-right: 4px;
    font-family: 'robotobold';
  }
  .goods ul li a,
  .goods ul li a:hover {
    display: block;
    font: 20px 'robotolight';
    line-height: 24px;
    color: #000;
    text-decoration: none;
  }
  .goods__send-inquiry {
    position: absolute;
    bottom: 0;
    left: 17px;
    margin: 0 auto;
    display: block;
    width: 255px;
    height: 59px;
    background: #bf3737;
    border-radius: 15px;
    font: 16px 'robotolight' !important;
    color: #fefefe !important;
    text-transform: uppercase;
    line-height: 59px !important;
    text-decoration: none;
  }
  .goods__send-inquiry:hover {
    font-family: 'robotobold' !important;
    background: #db3f3f;
  }
  .goods__line {
    margin: 20px auto;
    width: 100px;
    height: 1px;
    background: #d7d7d7;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__services {
    padding: 74px 0 64px 0;
    height: auto;
    background: #fff;
  }
  .subblock__services ul {
    margin-bottom: 74px;
    height: auto;
    overflow: hidden;
  }
  .subblock__services ul li {
    margin-right: 74px;
    float: left;
    width: 337px;
    height: 337px;
  }
  .subblock__services ul li:last-child {
    margin-right: 0;
  }
  .subblock__services ul li img {
    width: 337px;
    height: 337px;
  }
  .subblock__services__content {
    height: auto;
    overflow: hidden;
  }
  .subblock__services__content div {
    display: block;
    float: left;
  }
  .subblock__services__content div h4 {
    margin-bottom: 10px;
    font: 24px 'robotobold';
    color: #000;
  }
  .subblock__services__content div p {
    font: 16px 'robotolight';
    color: #000;
  }
  .subblock__services__content div ul {
    margin-top: 38px;
    height: auto;
    margin-bottom: 0;
  }
  .subblock__services__content div ul li {
    float: none;
    width: auto;
    height: auto;
  }
  .subblock__services__content div ul li p {
    margin-left: 20px;
    margin-bottom: 23px;
  }
  .subblock__services__content div ul li img {
    width: 13px;
    height: 13px;
    margin-top: 2px;
    display: block;
    float: left;
  }
  .subblock__services__content div:nth-child(1) {
    width: 562px;
  }
  .subblock__services__content div:nth-child(2) {
    float: right;
    width: 550px;
  }
}
