header

  // centered big
  .centered__big

    // logo
    .header__logo
      a(href="#" title="")
        img(src="../img/logo.png" alt="")

    // navigation
    nav.left.header__navigation
      ul
        li: a(data-easing="easeInQuad" href="#servicess" title="")
          | The services
        li: a(data-easing="easeInQuad" href="#our-works" title="")
          | Our works
        li: a(data-easing="easeInQuad" href="#about-us" title="")
          | About us
        li: a(data-easing="easeInQuad" href="#map" title="")
          | Contacts

    // contacts information
    .header__contacts.right
      p
        | Call the specialist:
      div
        a(href="tel:0333344347" title="")
          | 0333 344 347