.main-slider

  ul.main-banner#main-baner

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-1.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-2.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-3.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-4.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-5.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-6.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-7.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-8.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-9.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-10.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-11.png" alt="")

    // / item

    // item

    li
      a(href="#" title="")
        img(src="../img/banners/banner-12.png" alt="")

    // / item