.main-publs

	// centered

	.centered.width-1174

		h3
			| Статьи

		ul

			// item

			li

				a(href="#" title="Дюбельная техника")

					.main-publs__preview
						img(src="" alt="@@")

					p
						| Дюбельная техника

			// item

			li

				a(href="#" title="Заглушки для труб")

					.main-publs__preview
						img(src="" alt="@@")

					p
						| Заглушки для труб

			// item

			li

				a(href="#" title="Сантехнический крепеж")

					.main-publs__preview
						img(src="" alt="@@")

					p
						| Сантехнический крепеж

			// item

			li

				a(href="#" title="Электротехнические товары")

					.main-publs__preview
						img(src="" alt="@@")

					p
						| Электротехнические товары
