.publs

	// centered

	.centered.width-1174

		h3.title-block
			| Статьи

		ul

			li
				a(href="#" title="")
					| Дюбельная техника

			li
				a(href="#" title="")
					| Заглушки для труб

			li
				a(href="#" title="")
					| Фиксаторы для арматуры

			li
				a(href="#" title="")
					| Электроустановочный крепёж

			li
				a(href="#" title="")
					| Гибкие связи

			li
				a(href="#" title="")
					| Крепёж для теплоизоляции

			li
				a(href="#" title="")
					| Аксессуары для электромонтажных пластиковых труб

			li
				a(href="#" title="")
					| Клеммные соединители для одножильного провода

			li
				a(href="#" title="")
					| Коробки монтажные распределительные

			li
				a(href="#" title="")
					| Трубы гофрированные ПВХ

			li
				a(href="#" title="")
					| Монтажные изделия

			li
				a(href="#" title="")
					| Декоративные изделия