.thanks

	// centered

	.centered.width-1174

		h3.title-block
			| Вы оставили заявку на сайте prokiz.ru

		.thanks__body

			ul

				li
					span
						img(src="../img/icons/icon-14.png" alt="")
					p
						| prokiz.ru

				li
					span
						img(src="../img/icons/icon-15.png" alt="")
					p
						| +7 (000) 000 0000

				li
					span
						img(src="../img/icons/icon-16.png" alt="")
					p
						| login@domain.ru

				li
					span
						img(src="../img/icons/icon-17.png" alt="")
					p
						| Самара

